<h1>
  Add a new task tag
</h1>


<hr>

<form action="/create_task_tag" method="post">

  <div class="form-group">
    <label for="task_id">
      Task
    </label>

    <%= select_tag(:task_id, options_from_collection_for_select(Task.all, :id, :caption, @task_tag.task_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="tag_id">
      Tag
    </label>

    <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :name, @task_tag.tag_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create task tag
  </button>
</form>

<hr>

<a href="/task_tags">
  Go back
</a>
