<form action="/create_task_tag_from_task" method="post">

  <input type="hidden" name="task_id" value="<%= @task.id %>">

  <div class="form-group">
    <label for="tag_id">
      Tag
    </label>

    <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :name, @task_tag.tag_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create task tag
  </button>
</form>
