<form action="/create_task_tag_from_tag" method="post">

  <div class="form-group">
    <label for="task_id">
      Task
    </label>

    <%= select_tag(:task_id, options_from_collection_for_select(Task.all, :id, :caption, @task_tag.task_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="tag_id" value="<%= @tag.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create task tag
  </button>
</form>
